/* VISKAM */
* {
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: rgb(85, 186, 199);
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    border-radius: 15px;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    align-content: center;
    border-radius: 15px;
}

p {
    text-align: center;
    display: inline-block;
    font-size: clamp(10px, 1vw, 50px);
    max-width: 100%;
}

a {
    color: black;
}

nav a {
    color: white;
}

nav img {
    width: 25px;
    position: relative;
    top: 8px;
}

a:hover {
    color: rgb(0, 179, 0);
}

.logo {
    width: 100px;
    position: relative;
    top: 20%;
}

img {
    border-radius: 10px;
}

.img1 {
    max-width: 45%;
    margin: 1%;
}

.img2 {
    max-width: 30%;

}

.img3 {
    max-width: 60%;
}

figure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex1 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.p1 {
 
    max-width: 60ch;
}

.p2 {
    max-width: 80%;
}

footer {
    background-color: black;
    height: 70px;
    align-content: center;
    border-radius: 15px;
}

footer a {
    color: white;
    margin: 0;
}

footer img {
    width: 25px;
    position: relative;
    top: 8px;
}

.footermargin {
    margin-right: 50px;
}

h1 {
    display: inline-block;
    text-shadow:
        1px 1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
    align-self: center;
    font-size: 85px;
    position: relative;
    top: 15%;
}

.sec1 {
    background-color: rgb(51, 157, 255);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

.sec2 {
    background-color: rgb(0, 88, 219);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

.mirrorimg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

button {
    padding: 10px;
    background-color: rgb(0, 179, 0);
}

/* Minecraft */
.headminecraft {
    background-image: url(../IMG/1.jpg);
    color: green;
}

/*Statymas*/
.headstatymas {
    background-image: url(../IMG/16.jpg);
    color: rgb(119, 61, 13);
}

/*PvP*/
.headpvp {
    background-image: url(../IMG/19.jpg);
    color: rgb(174, 0, 0);
}

/*Redstone*/
.headredstone {
    background-image: url(../IMG/26.png);
    color: rgb(255, 196, 0);
    background-position: top;
}

/*Atsipalaidavimas*/
.headatsipalaidavimas {
    background-image: url(../IMG/18.jpg);
    color: rgb(19, 0, 187);
    background-position: center;
}

/*Apskritai*/
.headapskritai {
    background-image: url(../IMG/1.jpg);
    color: rgb(99, 0, 148);
    background-position: center;
}

/*Media queries*/

@media (max-width: 1600px) {}

@media (max-width: 1200px) {}

@media (max-width: 900px) {}

@media (max-width: 600px) {
    .img3 {
        max-width: 100%;
    }

    .flex1 {
        flex-direction: column;
    }
    .img2 {
        max-width: 100%;
    }
    .p1 {
        max-width: 100%;
    }
    p {
        font-size: 1rem;
    }
    footer {}
}